.input {
    margin-top: 3px;
    margin-bottom: 30px;
    width: 400px;
    background-color: #2d333b;
}

.moldura-card {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 30px 40px 50px 40px;
    box-sizing: border-box;
}